@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la sala de escape Gallardo</h1>
    <p> "Mas facil que ganarle a boca" </p>
    <img class="imgs" src="/sources/logoEntero2.jpg">
</div>
