@{
    ViewBag.Title = "Tutoril para burros";
}

<p> Buenos dias, esta es una sala de escape con la tematica de la final de Madrid</p>
<p> Basicamente lo que tenes que hacer es ir adivinando el codigo con las imagenes y textos que te doy, facil.</p>