@{
    ViewBag.title = "Perdiste";
}

<h1 class="display-4 text-center gameOver"> GAME OVER </h1>
<p class="lead"> Una hora y no pudiste, sos burro eh </p> 
<hr class="my-4">
<div class="alert alert-danger" role="alert">
  Cantidad de errores: @Escape.Errores // Cantidad de pistas: @Escape.Pistas
</div>